**__pycache__/

config/prod_settings.py
config/local_settings.py
config/gunicorn.conf.py
config/justtravel.conf

media/

static/admin
static/ckeditor
static/debug_toolbar

**migrations/
!**/migrations/__init__.py

db.sqlite3

nginx/
.env.prod
.env.prod.db
docker-compose.prod.yml
Dockerfile.prod
entrypoint.prod.sh