{% extends 'base.html' %}

{% load landlord_tag %}

{% block title %}
Личный кабинет
{% endblock %}

{% block content %}

{% landlord_header %}

<div class="container-info">

  {% if reservs %}
  <div class="info">
    {% for item in reservs %}
    <div class="info-item">
      <h2>{{ item.user }}</h2>
      <p>Прибытие: {{ item.start_date|date:"d-m-Y" }}</p>
      <p>Выезд: {{ item.end_date|date:"d-m-Y" }}</p>
      <p>Гостей: {{ item.guests }}</p>
      <p>Всего ночей: {{ item.days_total }}</p>
      <p>К оплате: {{ item.price_total|floatformat:"0g" }}&nbsp;р.</p>
    </div>
    {% endfor %}

  </div>
  {% else %}
  <p>{{ message }}</p>
  {% endif %}

</div>

{% endblock %}