{% load static %}
<div class="container-header">

  <ul class="header-links">
    <li>
      <a href="{% url 'landlord:leaving' %}">
        Выезжают ({{ leaving|length }})
      </a>
    </li>

    <li>
      <a href="{% url 'landlord:reside' %}">
        Проживают ({{ reside|length }})
      </a>
    </li>

    <li>
      <a href="{% url 'landlord:will_arrive_soon' %}">
        Скоро приедут ({{ will_arrive_soon|length }})
      </a>
    </li>

    <li>
      <a href="{% url 'landlord:upcoming' %}">
        Предстоящие ({{ upcoming|length }})
      </a>
    </li>
  </ul>

  <ul class='header-btn'>
    <li>
      <a href="{% url 'landlord:personal_data' %}">
        <div class="personal-btn">
          <img src="{% static 'images/user.png' %}">
        </div>
      </a>
    </li>
  </ul>

</div>