{% extends 'base.html' %}



{% block content %}

<nav id="navBar" class="navbar-white">
  {% if request.user.is_authenticated %}
  <ul class="nav-links">
    <li>
      <a href="{% url 'landlord:leaving' %}">
        Выезжают: ({{ leaving|length }})
      </a>
    </li>

    <li>
      <a href="{% url 'landlord:reside' %}">
        Проживают: ({{ reside|length }})
      </a>
    </li>

    <li>
      <a href="{% url 'landlord:will_arrive_soon' %}">
        Скоро приедут: ({{ will_arrive_soon|length }})
      </a>
    </li>

    <li>
      <a href="{% url 'landlord:upcoming' %}">
        Предстоящие: ({{ upcoming|length }})
      </a>
    </li>

  </ul>
  <ul class='nav-btn'>
    <li><a href="#">Личные данные</a></li>
  </ul>
  {% endif %}
</nav>


<div class="container">
  {% for reserv in leaving|dictsort:"start_date" %}
  {{ reserv.name_reserv }}
  <br>
  {{ reserv.start_date }}
  {{ reserv.end_date }}
  <br>
  <br>
  {% endfor %}
</div>
  
{% endblock %}