{% extends 'base.html' %}



{% block content %}

<nav id="navBar" class="navbar-white">
  {% if request.user.is_authenticated %}
  <ul class="nav-links">
    <li>
      <a href="{% url 'landlord:leaving' %}">
        Выезжают: ({{ leaving|length }})
      </a>
    </li>

    <li>
      <a href="{% url 'landlord:reside' %}">
        Проживают: ({{ reside|length }})
      </a>
    </li>

    <li>
      <a href="{% url 'landlord:will_arrive_soon' %}">
        Скоро приедут: ({{ will_arrive_soon|length }})
      </a>
    </li>

    <li>
      <a href="{% url 'landlord:upcoming' %}">
        Предстоящие: ({{ upcoming|length }})
      </a>
    </li>

  </ul>
  <ul class='nav-btn'>
    <li><a href="#">Личные данные</a></li>
  </ul>
  {% endif %}
</nav>

<div class="container">
  <div class="container-info">

    {% if reside %}
    <div class="info">
      {% for reserv in reside|dictsort:"start_date" %}
      <div class="info-item">
        <h2>{{ reserv.name_reserv }}</h2>
        <p>Прибытие: {{ reserv.start_date }}</p>
        <p><b>Выезд: {{ reserv.end_date }}</b></p>
        <p>Всего ночей: {{ reserv.days_total }}</p>
        <p>К оплате: {{ reserv.price_total|floatformat:"0g" }} р.</p>
      </div>
      {% endfor %}
    </div>

    {% else %}
    <p>Сейчас у вас нет гостей.</p>
    {% endif %}
  </div>
</div>

{% endblock %}