{% extends 'base.html' %}

{% load landlord_tag %}

{% block content %}

{% landlord_header %}

<div class="container">
  <div class="container-info">

    {% if reside %}
    <div class="info">
      {% for reserv in reside|dictsort:"start_date" %}
      <div class="info-item">
        <h2>{{ reserv.user }}</h2>
        <p>Прибытие: {{ reserv.start_date }}</p>
        <p><b>Выезд: {{ reserv.end_date }}</b></p>
        <p>Всего ночей: {{ reserv.days_total }}</p>
        <p>К оплате: {{ reserv.price_total|floatformat:"0g" }} р.</p>
      </div>
      {% endfor %}
    </div>

    {% else %}
    <p>Сейчас у вас нет гостей.</p>
    {% endif %}
  </div>
</div>

{% endblock %}