{% extends 'base.html' %}

{% load landlord_tag %}

{% block content %}

{% landlord_nav %}

<div class="container">
  <div class="container-info">

    {% if upcoming %}
    <div class="info">
      {% for reserv in upcoming|dictsort:"start_date" %}
      <div class="info-item">
        <h2>{{ reserv.user }}</h2>
        <p>Прибытие: {{ reserv.start_date }}</p>
        <p>Выезд: {{ reserv.end_date }}</p>
        <p>Всего ночей: {{ reserv.days_total }}</p>
        <p>К оплате: {{ reserv.price_total|floatformat:"0g" }} р.</p>
      </div>
      {% endfor %}

    </div>
    {% else %}
    <p>Нет гостей, прибывающих сегодня или завтра.</p>
    {% endif %}
  </div>
</div>

{% endblock %}