{% extends 'base.html' %}


{% block title %}
Личный кабинет
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>

<nav id="navBar" class="navbar-white">
  <ul class="nav-links">
    <li>
      <a href="{% url 'accounts:user_active_reservs' %}">
        {% if active_reservs %}
        Активных бронирований: {{ active_reservs|length }}
        {% endif %}
      </a>
    </li>

    <li>
      <a href="{% url 'accounts:user_inactive_reservs' %}">
        {% if inactive_reservs %}
        Неактивных бронирований: {{ inactive_reservs|length }}
        {% endif %}
      </a>
    </li>

    <li>
      <a href="{% url 'accounts:user_canceled_reservs' %}">
        {% if canceled_reservs %}
        Отмененных бронирований: {{ canceled_reservs|length }}
        {% endif %}
      </a>
    </li>
  </ul>
  <ul class='nav-btn'>
    {% if request.user.is_authenticated %}
    <li><a href="#">Личные данные</a></li>
    {% endif %}
    <i class="fa-solid fa-bars" onclick="togglebtn()"></i>
  </ul>
</nav>

{% endblock %}