{% extends 'base.html' %}


{% block title %}
Личный кабинет
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<div class="container">
  {% for reserv in user_reservs %}
  <ul>
    <li>
      <a href="{{ reserv.apartment.get_absolute_url }}">
        {{ reserv.apartment }}
      </a>
      <br>
      Прибытие: {{ reserv.start_date }} &nbsp; &nbsp;
      Выезд: {{ reserv.end_date }} <br>
      Всего дней: {{ reserv.days_total }} <br>
      Итого к оплате: {{ reserv.price_total }} р. <br>
      Оплата наличными на месте.
    </li>
  </ul>
  <br>
  {% endfor %}
</div>

{% endblock %}