{% extends 'base.html' %}

{% block title %}
Отмененные бронирования
{% endblock %}

{% block content %}

<nav id="navBar" class="navbar-white">
  {% if request.user.is_authenticated %}
  <ul class="nav-links">
    <li>
      <a href="{% url 'accounts:user_active_reservs' %}">
        {% if active_reservs %}
        Активных бронирований: {{ active_reservs|length }}
        {% endif %}
      </a>
    </li>

    <li>
      <a href="{% url 'accounts:user_inactive_reservs' %}">
        {% if inactive_reservs %}
        Неактивных бронирований: {{ inactive_reservs|length }}
        {% endif %}
      </a>
    </li>

    <li>
      <a href="{% url 'accounts:user_canceled_reservs' %}">
        {% if canceled_reservs %}
        Отмененных бронирований: {{ canceled_reservs|length }}
        {% endif %}
      </a>
    </li>
  </ul>
  <ul class='nav-btn'>
    <li><a href="#">Личные данные</a></li>
  </ul>
  {% endif %}
</nav>

<br>
<br>
<br>
<br>
<div class="container">
  {% if canceled_reservs %}
  Отмененных бронирований: {{ canceled_reservs|length }}
  {% endif %}
  {% for reserv in canceled_reservs|dictsort:"start_date" %}
  <ul>
    <li>
      <a href="{{ reserv.get_absolute_url }}">
        {{ reserv.apartment }}
      </a>
      <br>
      Прибытие: {{ reserv.start_date }} <br>
      Выезд: {{ reserv.end_date }} <br>
      Всего дней: {{ reserv.days_total }} <br>
      Итого к оплате: {{ reserv.price_total|floatformat:"2g" }} р. <br>
      Оплата наличными на месте.
    </li>
  </ul>
  <br>
  {% endfor %}
</div>

{% endblock %}