{% extends 'base.html' %}

{% load static %}

{% block content %}

  <div class="list-container">
    <h1>Рекомендуемое жилье в Гунибском районе</h1>
    {% for item in rooms_list %}
    <div class="container-left-col">
      <div class="object">
        <div class="object-img">
          {% if item.photo1 %}
          <img src="{{ item.photo1.url }}">
          {% endif %}
        </div>
        <div class="object-info">
          <p>Расположение: {{ item.location }}</p>
          <h3>{{ item.header }}</h3>
          <ul>
            <li><p>Кроватей: {{ item.beds }}</p></li><p class="slash">&nbsp;/&nbsp;</p>
            <li><p>Ванная: {{ item.bathroom }}</p></li><p class="slash">&nbsp;/&nbsp;</p>
            <li><p>{{ item.popular_amenities }}</p></li>
          </ul>
          <p><i class="fa-solid fa-star"></i>
            {% if item.get_ratings.star__avg %}
              {{ item.get_ratings.star__avg|floatformat:2 }}
            {% else %}
              <b>Новое</b>
            {% endif %}
          </p>
          <div class="object-price">
            <p>Гостей: {{ item.guests }}</p>
            <h4>{{ item.price }} р <span>/ ночь</span></h4>
          </div>
          <div class="button">
            <a href="{{ item.get_absolute_url }}">
              <button type="submit">Подробнее</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor%}
  </div>

  {% include 'inc/_paginator.html' %}

{% endblock %}