{% extends 'base.html' %}

{% load static %}

{% block title %}
{{ room.housing_header }}
{% endblock %}

{% block content %}

<div class="house-details">

  <div class="house-title">
    <h1>{{ room.header }}</h1>
    <div class="row">
      <div>
        <p><i class="fa-solid fa-star"></i>
          {% if room.get_ratings.star__avg %}
          {{ room.get_ratings.star__avg|floatformat:2 }}
          {% else %}
          <b>Новое</b>
          {% endif %}
        </p>
      </div>
      <div>
        <span id="modalBtn">Отзывов: {{ room.get_reviews.count }}</span>
        <div id="myModal" class="modal">
          <div class="modal-content">
            <div class="modal-header">
              <span class="closeBtn">&times;</span>
              <h3>
                <i class="fa-solid fa-star"></i>
                {% if room.get_ratings.star__avg %}
                {{ room.get_ratings.star__avg|floatformat:2 }}
                {% else %}
                <b>Новое</b>
                {% endif %}
                &#183;
                Отзывов: {{ room.get_reviews.count }}
              </h3>
            </div>
            {% for review in room.get_reviews %}
            <div class="modal-body">
              <h3>{{ review.user }}</h3>
              <p>{{ review.review }}</p>
              <br>
              <br>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div>
        <span>Просмотров: {{ room.views }}</span>
      </div>
      <div>
        <span>Расположение: {{ room.location }}</span>
      </div>
    </div>
  </div>

  <div class="gallery">
    {% if room.photo1 %}
    <div class="gallery-img-1">
      <a href="{{ room.photo1.url }}" data-lightbox="room_imgs">
        <img src="{{ room.photo1.url }}">
      </a>
    </div>
    {% endif %}
    {% if room.photo2 %}
    <div>
      <a href="{{ room.photo2.url }}" data-lightbox="room_imgs">
        <img src="{{ room.photo2.url }}">
      </a>
    </div>
    {% endif %}
    {% if room.photo3 %}
    <div>
      <a href="{{ room.photo3.url }}" data-lightbox="room_imgs">
        <img src="{{ room.photo3.url }}">
      </a>
    </div>
    {% endif %}
    {% if room.photo4 %}
    <div>
      <a href="{{ room.photo4.url }}" data-lightbox="room_imgs">
        <img src="{{ room.photo4.url }}">
      </a>
    </div>
    {% endif %}
    {% if room.photo5 %}
    <div>
      <a href="{{ room.photo5.url }}" data-lightbox="room_imgs">
        <img src="{{ room.photo5.url }}">
      </a>
    </div>
    {% endif %}
  </div>

  <div class="small-details">
    <h2>Хозяин объекта {{ room.landlord.get_short_name }}</h2>
      <p>Гостей: {{ room.guests }}</p>
      <p>Кровати: {{ room.beds }}</p>
      <p>Ванная: {{ room.bathroom }}</p>
    <h4>{{ room.price }} р / ночь</h4>
  </div>

  <hr class="line">

  <!-- Резерв -->
  <form action="{% url 'rooms:add_reserv' room.pk %}" class="check-form" method="post">
    {% csrf_token %}
    <div>
      <label for="{{ reserv.start_date.id_for_label }}">
        {{ reserv.start_date.label }}
      </label>
      {{ reserv.start_date }}
    </div>
    <div>
      <label for="{{ reserv.end_date.id_for_label }}">
        {{ reserv.end_date.label }}
      </label>
      {{ reserv.end_date }}
    </div>
    <div class="guest-field">
      <label for="{{ reserv.guests.id_for_label }}">
        {{ reserv.guests.label }}
      </label>
      {{ reserv.guests }}
    </div>
    <button type="submit" name="add_reserv">Забронировать</button>
  </form>
  <!-- end Резерв -->

  <hr class="line">

  <p class="home-desc">
    {{ room.description }}
  </p>

  <hr class="line">

  <div class="map">
    <h3>Местоположение на карте</h3>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d548.7258786056058!2d47.03069028642799!3d42.32065588274649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sru!2sru!4v1656957836931!5m2!1sru!2sru"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    <b>{{ room.location }}</b>
    <!-- <p></p> -->
  </div>

  <hr class="line">

  <div class="host">
    <img src="{% static 'images/user-regular.svg' %}">
    <div>
      <h2>Владелец {{ room.landlord.get_short_name }}</h2>
      <!-- <p>
        <span>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half-alt"></i>
        </span>
        &nbsp; &nbsp; 245 reviews
        &nbsp; &nbsp; Response rate 100%
        &nbsp; &nbsp; Response time: 60 min
      </p> -->
      <a href="#" class="contact-host">Связаться с владельцем</a>
    </div>
  </div>

  <!-- Оценка / Отзыв -->
  <div class="review-box">
    <h3>Оцените жилье</h3>
    <!-- Оценка -->
    <form action="{% url 'rooms:add_rating' %}" method='post' name='rating'>
      <b>Ваша оценка:</b>
      {% csrf_token %}
      <input type="hidden" value='{{ room.id }}' name='apartment'>
      <span class='rating'>
        {% for k, v in star_form.fields.star.choices %}
        <input id='rating{{ v }}' type="radio" name='star' value='{{ k }}'>
        <label for="rating{{ v }}">
          {{ k }}
        </label>
        {% endfor %}
      </span>
    </form>
    <!-- end Оценка -->

    <!-- Отзыв -->
    <h4>Оставьте отзыв</h4>
    <form action="{% url 'rooms:add_review' room.id %}" method='post' class='review-form'>
      {% csrf_token %}
      <div class="review-text">
        <label for="{{ review_form.review.id_for_label }}"></label>
        {{ review_form.review }}
      </div>
      <button type="submit" name="add_review">Отправить</button>
    </form>
    <!-- end Отзыв -->

  </div>
  <!-- end Оценка/Отзыв -->

  <hr class="line">

  <!-- Список отзывов -->
  <div class="reviews">
    <div class="reviews-row">
      {% for review in room.get_reviews|slice:":6" %}
      <div class="reviews-col">
        <div class="reviews-col-header">
          <div>
            {% if review.user.avatar %}
            <img src="{{ review.user.avatar.url }}" alt="">
            {% else %}
            <img src="{% static 'images/user-regular.svg' %}" alt="">
            {% endif %}
          </div>
          <div>
            <h3>{{ review.user }}</h3>
            {{ review.created_at|date:"F Y" }} г.
          </div>
        </div>
        <div>
          <p>{{ review.review }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- end Список отзывов -->

</div>
<!-- Передача зарезервированных дат в JS для блокирования доступа в календаре -->
{{ reserv_days_in|json_script:'value1' }}
{{ reserv_days_out|json_script:'value2' }}

{% endblock %}