{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
  <h1>Рекомендуемое жилье в Гунибском районе</h1>
  <div class="list-container">
    {% for item in rooms_list %}
    <div class="container-left-col">
      <div class="object">
        <div class="object-img">
          {% if item.photo1 %}
          <img src="{{ item.photo1.url }}">
          {% endif %}
        </div>
        <div class="object-info">
          <p>Расположение: {{ item.location }}</p>
          <h3>{{ item.housing_header }}</h3>
          <p>1 Bedroom / 1 Bathroom / Wifi / Kitchen</p>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half-alt"></i>
          <i class="fa-regular fa-star"></i>
          <div class="object-price">
            <p>{{ item.number_of_guests }} Гость</p>
            <h4>{{ item.price }} р <span>/ ночь</span></h4>
          </div>
          <div class="button">
            <a href="{{ item.get_absolute_url }}">
              <button type="submit">Подробнее</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor%}
  </div>
</div>

<div class="pagination">
  <img src="{% static 'images/arrow.png' %}">
  <span class="current">1</span>
  <span>2</span>
  <span>3</span>
  <span>4</span>
  <span>5</span>
  <span>&middot; &middot; &middot; &middot;</span>
  <span>20</span>
  <img src="{% static 'images/arrow.png' %} " class="right-arrow">
</div>




{% endblock %}