{% extends 'base.html' %}

{% block navbar %}
  {% include 'inc/_home_header.html' %}
{% endblock navbar %}

{% block content %}

<h2 class="sub-title">Интересные места</h2>
<div class="places">
  {% for place in places %}
  <a href="{{ place.get_absolute_url }}">
    <div>
      <img src="{{ place.preview.url }}">
      <span>
        <h3>{{ place.title }}</h3>
        <p>{{ place.category.title }}</p>
      </span>
    </div>
  </a>
  {% endfor %}
</div>

<h2 class="sub-title">Населенные пункты</h2>
<div class="locality">
  {% for locality in localities %}
  <a href="{{ locality.get_absolute_url }}">
    <div>
      <img src="{{ locality.preview.url }}">
      <h3>{{ locality.title }}</h3>
    </div>
  </a>
  {% endfor %}
</div>

<!-- <div class="about-msg">
  <h2>About JustTravel</h2>
  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
    in a piece of classical Latin literature from 45 BC, making it over 2000 years
    old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
    looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum
    passage, and going through the cites of the word in classical literature,
    discovered the undoubtable source.</p>
</div> -->

{% endblock %}