{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="list-container">
  <h1>Интересные места в Гунибском районе</h1>
  {% for place in page_obj.object_list %}
  <div class="container-left-col">
    <div class="object">
      <div class="object-img">
        {% for image in place.image.all %}
          {% if forloop.counter0 < 1 %}
            <img src="{{ image.photo.url }}">
          {% endif %}
        {% endfor %}
      </div>
      <div class="object-info">
        <h3>{{ place.title }}</h3>
        <p>{{ place.content|truncatewords_html:50|safe }}</p>
        <br>
        <div class="object-date">
          <p>{{ place.created_at|date:"d-m-Y" }}</p>
        </div>
        <a href="{{ place.get_absolute_url }}">
          <button type="submit">Читать далее...</button>
        </a>
      </div>
    </div>
  </div>
  {% endfor%}
</div>

  {% include 'inc/_paginator.html' %}

{% endblock %}