{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
  <h1>Интересные места в Гунибском районе</h1>
  <div class="list-container">
  {% for place in places_list %}
    <div class="container-left-col">
      <div class="object">
        <div class="object-img">
          {% if place.image_place %}
          <img src="{{ place.image_place.photo.url }}">
          {% endif %}
        </div>
        <div class="object-info">
          <h3>{{ place.title }}</h3>
          <p>{{ place.content|truncatewords_html:50|safe }}</p>
          <br>
          <div class="object-date">
            <p>{{ place.created_at|date:"d-m-Y" }}</p>
          </div>
          <a href="{{ place.get_absolute_url }}">
            <button type="submit">Читать далее...</button>
          </a>
        </div>
      </div>
    </div>
    {% endfor%}
  </div>

  <div class="pagination">
    <img src="{% static 'images/arrow.png' %}">
    <span class="current">1</span>
    <span>2</span>
    <span>3</span>
    <span>4</span>
    <span>5</span>
    <span>&middot; &middot; &middot; &middot;</span>
    <span>20</span>
    <img src="{% static 'images/arrow.png' %}" class="right-arrow">
  </div>
</div>
{% endblock %}