{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
  <h1>Интересные места в Гунибском районе</h1>
  <div class="list-container">
  {% for place in page_obj.object_list %}
    <div class="container-left-col">
      <div class="object">
        <div class="object-img">
          {% for image in place.image.all %}
            {% if forloop.counter0 < 1 %}
              <img src="{{ image.photo.url }}">
            {% endif %}
          {% endfor %}
        </div>
        <div class="object-info">
          <h3>{{ place.title }}</h3>
          <p>{{ place.content|truncatewords_html:50|safe }}</p>
          <br>
          <div class="object-date">
            <p>{{ place.created_at|date:"d-m-Y" }}</p>
          </div>
          <a href="{{ place.get_absolute_url }}">
            <button type="submit">Читать далее...</button>
          </a>
        </div>
      </div>
    </div>
    {% endfor%}
  </div>

  {% if page_obj.has_other_pages %}
  <div class="pagination">

    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
          <img src="{% static 'images/arrow.png' %}">
        </a>
      </li>
    {% endif %}

    {% for p in page_obj.paginator.page_range %}
      {% if page_obj.number == p %}
        <li class="page-item current">
          <a class="page-link" href="?page={{ p }}">{{ p }}</a>
        </li>
      {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
        <li class="page-item">
          <a class="page-link" href="?page={{ p }}">{{ p }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
          <img src="{% static 'images/arrow.png' %}" class="right-arrow">
        </a>
      </li>
    {% endif %}

  </div>
  {% endif %}

</div>
{% endblock %}