/* ----------navbar-white---------- */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
}

.navbar-white {
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.navbar-white .logo {
    width: 140px;
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
    color: #ff5361;
}

.nav-links li,
.nav-btn li {
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}

.navbar-white .nav-links li a {
    text-decoration: none;
    color: #000;
}

.navbar-white .create_room-btn,
.logout-btn,
.login-btn,
.register-btn {
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    background: #ff5361;
    color: #fff;
}

nav.navbar-white .fa-bars {
    color: #000;
}

nav .fa-bars {
    display: none;
}

.active {
    position: relative;
}

.active::after {
    content: '';
    background: #ff5361;
    width: 35px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
    border-radius: 2px;
}

/* Кнопка выпадающего списка */
/* 
.fa-bars {
    background-color: #fff;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

nav.navbar-white .fa-bars:hover,
nav.navbar-white .fa-bars:focus {
    background-color: #ff5361;
    color: #fff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd
}

.show {
    display: block;
}  */

/* ----------for small screen devices ( up to 1280px) ---------- */

@media (max-width: 1280px) {
    .logo {
        position: fixed;
        top: 12px;
        left: 7%;
    }

    nav .fa-bars {
        display: block;
        position: fixed;
        top: 12px;
        right: 7%;
        color: #fff;
        font-size: 28px;
    }

    nav {
        position: fixed;
        top: 0;
        z-index: 100;
        display: inline-block;
        width: 100%;
        padding: 50px 7% 0;
        background: #000;
        text-align: right;
        max-height: 50px;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav .nav-links {
        margin-top: 50px;
    }

    nav .nav-links li {
        margin: 15px 0;
        display: block;
    }

    .active::after {
        width: 25px;
        left: -40px;
        transform: translate(0, 50%);
        bottom: 50%;
    }

    .nav-btn {
        display: inline-block;
    }

    .nav-btn li {
        margin: 15px 0 30px 0;
        display: block;
    }

    .hidemenu {
        max-height: 300px;
    }
}