* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/*----- locality list / intresting places -----*/
.container {
    padding: 0px 7%;
}

.container h1 {
    color: #333;
    font-weight: 600;
    margin-top: 50px;
}

.list-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-left-col {
    flex-basis: 70%;
}

.container-right-col {
    flex-basis: 25%;
}

.object {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
    border-top: 1px solid #ccc;
}

.object-img {
    flex-basis: 40%;
}

.object-info {
    flex-basis: 58%;
    color: #555;
}

.object-img img {
    border-radius: 12px;
    width: 415px;
    height: 300px;
    object-fit: cover;
}

.object-info h3 {
    font-weight: 600;
    color: #333;
    font-size: 22px;
    margin: 4px 0;
}

.object-info button {
    background: #ff5361;
    border: 0;
    outline: none;
    color: #fff;
    padding: 18px;
    width: 350px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.object-date {
    text-align: right;
}

.sidebar {
    border: 1px solid #999;
    padding: 20px 30px;
    margin-top: 30px;
}

.sidebar h2 {
    font-weight: 500;
}

.sidebar a {
    text-decoration: none;
}

.sidebar h3 {
    font-weight: 500;
    margin: 20px 0 10px;
}

/* ----------for small screen devices ( up to 1280px) ---------- */

@media (max-width: 1280px) {

    .list-container {
        margin-top: 70px;
    }

    .container .list-container h1 {
        font-size: 26px;
    }

    .container-left-col {
        flex-basis: 60%;
    }

    .container-right-col {
        flex-basis: 40%;
    }

    .object-img {
        flex-basis: 90%;
    }

    .object-info {
        flex-basis: 90%;
    }

    .object-img img {
        width: 100%;
        max-height: 400px;
    }

    .object-date {
        margin-bottom: 10px;
    }
}

/* ----------for small screen devices ( up to 900px) ---------- */

@media (max-width: 900px) {
    .container .list-container h1 {
        font-size: 22px;
    }

    .container-left-col,
    .container-right-col,
    .object-img,
    .object-info {
        flex-basis: 100%;
    }

    .object {
        padding-bottom: 0;
    }

    .object-info h3 {
        font-size: 18px;
    }

    .container-right-col {
        margin-bottom: 20px;
    }

    .sidebar {
        padding: 10px 30px;
        margin-top: 20px;
    }

    .sidebar h3 {
        margin: 10px 0 10px;
    }
}

/* ----------for small screen devices ( up to 400px) ---------- */

@media (max-width: 400px) {
    .container .list-container h1 {
        font-size: 20px;
    }

    .object-img img {
        width: 100%;
        height: 100%;
    }

    .object-info h3 {
        font-size: 18px;
    }

    .object-info button {
        width: 100%;
    }

    .sidebar {
        padding: 10px 20px;
    }

    .sidebar h2 {
        font-size: 20px;
    }

    .sidebar h3 {
        font-size: 18px;
        margin: 10px 0 10px;
    }
}

/*----- rooms list -----*/
.object-info i {
    color: #ff5361;
    font-size: 18px;
    margin: 10px 1px;
}

.object-price {
    text-align: right;
}

.object-price h4 {
    font-size: 20px;
}

.object-price h4 span {
    font-size: 16px;
    font-weight: 500;
}

/*----- room details -----*/
.house-details {
    padding: 0 12%;
}

.house-title {
    margin-top: 50px;
}

.house-title h1 {
    font-weight: 600;
}

.house-title .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
}

.row div p {
    margin-right: 10px;
}

.house-title span {
    margin-right: 40px;
}

.house-title i {
    color: #ff5361;
    font-size: 14px;
}

/* Modal */
#modalBtn {
    cursor: pointer;
    text-decoration: underline;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-header {
    padding: 30px 20px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.modal-header i {
    font-size: 20px;
}

.modal-header h3 {
    display: flex;
}

.modal-header .closeBtn {
    color: #aaa;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    right: 50px;
    margin-right: 0;
}

.closeBtn:hover,
.closeBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal-body {
    padding: 2px 16px;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* end Modal */

.gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 'first first . .''first first . .';
    margin: 20px 0;
}

.gallery div img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
    object-fit: cover;
}

.gallery-img-1 {
    grid-area: first;
    width: 660px;
}

.small-details p {
    display: inline-flex;
    margin-right: 25px;
}

.small-details h2 {
    font-weight: 500;
}

.small-details h4 {
    text-align: right;
    font-size: 22px;
}

.line {
    border: 0;
    height: 1px;
    background: #ccc;
    width: 100%;
    max-width: 800px;
    margin: 20px 0 50px;
}

.check-form {
    margin: 30px 0 50px 0;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 50px;
}

.check-form label {
    display: block;
}

.check-form div {
    padding: 20px;
}

.check-form input {
    border: 1px solid #ff5361;
    outline: none;
    color: #555;
    padding: 10px;
    width: 200px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
}

.check-form button {
    background: #ff5361;
    border: 0;
    outline: none;
    color: #fff;
    padding: 18px;
    width: 300px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.flatpickr-day {
    color: #000;
    font-weight: 600;
}

.flatpickr-day.flatpickr-disabled {
    color: rgb(148, 148, 148);
    text-decoration: line-through;
    text-decoration-color: #ff5361;
    text-decoration-thickness: 1px;
    font-weight: 400;
}

.guest-field {
    flex: 1;
}

.details-list {
    list-style: none;
    margin: 50px 0;
}

.details-list li {
    margin-left: 50px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #555;
    position: relative;
}

.details-list li span {
    display: block;
    font-weight: 400;
    font-size: 16px;
}

.details-list li i {
    position: absolute;
    top: 5px;
    left: -40px;
}

.home-desc {
    max-width: 700px;
    margin-bottom: 50px;
}

.map {
    margin: 50px 0;
}

.map iframe {
    width: 100%;
    margin-bottom: 30px;
}

.map h3 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 30px;
}

.map b {
    display: block;
    margin-bottom: 16px;
}

.host {
    display: flex;
    align-items: center;
}

.host img {
    width: 80px;
    border-radius: 50%;
    margin-right: 30px;
}

.host h2 {
    margin-bottom: 10px;
    font-weight: 500;
}

.contact-host {
    display: inline-block;
    margin: 0 10px 0 0;
    text-decoration: none;
    color: #555;
    padding: 15px 15px;
    border: 1px solid #ff5361;
    border-radius: 8px;
}

.btn-reserv {
    background: #ff5361;
    border: 0;
    outline: none;
    color: #fff;
    padding: 18px;
    width: 350px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    margin-left: 100px;
}


/* Оценка / отзыв */
.rating {
    overflow: hidden;
    vertical-align: bottom;
    display: inline-block;
    width: 110px;
    height: 20px;
}

.rating>input {
    opacity: 0;
    margin-right: -100%;
}

.rating>label {
    position: relative;
    display: block;
    float: right;
    background: url('../images/star-off.png');
    background-size: 20px 20px;
}

.rating>label::before {
    display: block;
    opacity: 0;
    content: '';
    width: 20px;
    height: 20px;
    background: url('../images/star-on.png');
    background-size: 20px 20px;
    transition: opacity 0.2s linear;
}

.rating>label:hover:before,
.rating>label:hover~label:before,
.rating:not(:hover)> :checked~label:before {
    opacity: 1;
}

.review-box {
    border: 1px solid #ccc;
    margin-top: 50px;
    padding: 10px 20px;
    width: 44%;
}

.review-box h3 {
    text-align: left;
    margin-bottom: 5px;
}

.review-box h4 {
    margin-top: 10px;
}

.review-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
    font-size: 16px;
}

.review-form button {
    background: #fff;
    border: 1px solid #ff5361;
    outline: none;
    color: #ff5361;
    padding: 18px;
    width: 200px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.review-form button:hover {
    background: #ff5361;
    color: #fff;
    transition: 0.5s;
}

/* Список отзывов */
.reviews {
    margin: 50px 0 20px;
}

.reviews-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 44%));
    column-gap: 12%;
    row-gap: 3%;
    margin-bottom: 100px;
}

.reviews-col {
    border-radius: 10px;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    /* display: inline-flex; */
    transition: 0.5s;
    min-width: 250px;
}

.reviews-col-header {
    display: flex;
}

.reviews-col:hover {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.reviews-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.reviews-col h3 {
    padding: 0;
}

.reviews-col p {
    margin-top: 15px;
    text-align: left;
}

/* ----------for small screen devices ( up to 1500px) ---------- */

@media (max-width: 1500px) {
    .gallery-img-1 {
        width: 550px;
    }

    .check-form {
        padding: 10px 20px;
    }

    .review-box {
        width: 50%;
    }

    .check-form button {
        width: 200px;
    }
}

/* ----------for small screen devices ( up to 1280px) ---------- */

@media (max-width: 1280px) {
    .house-details {
        margin-top: 95px;
    }

    .house-title h1 {
        font-size: 26px;
    }

    .gallery-img-1 {
        width: 500px;
    }

    .guest-field {
        flex: 0;
    }

    .check-form input {
        width: 180px;
    }

    .guest-field input {
        width: 130px;
        margin-right: 20px;
    }

    .check-form button {
        width: 150px;
        flex: auto;
    }

    .review-box {
        width: 60%;
    }

    .reviews-row {
        grid-template-columns: repeat(auto-fit, minmax(300px, 48%));
        column-gap: 4%;
        row-gap: 2%;
    }
}

/* ----------for small screen devices ( up to 1100px) ---------- */

@media (max-width: 1100px) {
    .gallery-img-1 {
        width: 400px;
    }

    .check-form {
        display: block;
        text-align: center;
    }

    .check-form div {
        padding: 10px 20px 0 20px;
    }

    .check-form input {
        width: 250px;
    }

    .check-form button {
        width: 250px;
        flex: auto;
    }

    .guest-field input {
        margin-bottom: 10px;
        margin-right: 0;
    }

    .review-box {
        width: 70%;
    }

    .reviews-row {
        grid-template-columns: repeat(auto-fit, minmax(200px, 100%));
        margin-bottom: 150px;
    }
}

/* ----------for small screen devices ( up to 900px) ---------- */

@media (max-width: 900px) {
    .gallery {
        grid-template-areas: 'first first''. .''. .';
    }

    .gallery .gallery-img-1 {
        width: 100%;
    }

    .review-box {
        width: 80%;
    }
}

/* ----------for small screen devices ( up to 700px) ---------- */

@media (max-width: 700px) {
    .house-title h1 {
        font-size: 22px;
    }

    .modal-content {
        padding: 10px;
        width: 400px;
    }

    .modal-header .closeBtn {
        font-size: 40px;
        right: 30px;
    }

    .modal-body {
        padding: 2px 8px;
    }

    .modal-body h3 {
        font-size: 18px;
    }

    .gallery {
        margin-top: 10px;
    }

    .small-details h2 {
        font-weight: 500;
        font-size: 22px;
    }

    .small-details h4 {
        text-align: right;
        font-size: 20px;
        margin-top: 5px;
    }

    .map h3 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .review-box {
        width: 90%;
    }

    .small-details p {
        display: block;
    }
}

/* ----------for small screen devices ( up to 400px) ---------- */

@media (max-width: 440px) {
    .house-details {
        padding: 0 7%;
    }

    .modal-content {
        padding: 5px;
        width: 290px;
    }

    .modal-header .closeBtn {
        font-size: 30px;
        right: 25px;
    }

    .modal-content p {
        font-size: 16px;
    }

    .modal-header i {
        font-size: 15px;
    }

    .modal-body {
        padding: 2px 5px;
    }

    .row .modal-body p {
        margin-right: 0;
    }

    .check-form input,
    .check-form button,
    .review-form button {
        width: 200px;
    }

    .check-form {
        padding: 10px;
    }

    .check-form div {
        padding: 10px 0;
    }

    .home-desc {
        margin-bottom: 25px;
    }

    .review-box {
        width: 100%;
        padding: 10px;
    }

    .reviews-col {
        padding: 10px;
        min-width: 200px;
    }

    .reviews-col-header img {
        margin-right: 10px;
    }

    .reviews-col h3 {
        font-size: 18px;
    }

    .host img {
        width: 70px;
        margin-right: 10px;
    }

    .host h2 {
        font-size: 20px;
    }

    .contact-host {
        margin: 0;
        padding: 10px;
    }

    .line {
        margin: 15px 0 30px;
    }
}

/* ----------for small screen devices ( up to 310px) ---------- */
@media (max-width: 310px) {
    .modal-header {
        padding: 20px 15px;
    }

    .modal-content {
        padding: 5px;
        width: 240px;
    }

    .modal-header .closeBtn {
        right: 20px;
    }

    .flatpickr-calendar {
        font-size: 12px;
        width: 280px;
    }

    .flatpickr-weekdays {
        width: 90%;
    }

    .dayContainer {
        min-width: 260px;
        max-width: 280px;
    }
}

/* ----- locality detail / place detail ----- */

.detail-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.detail-left-col {
    flex-basis: 58%;
}

.detail-right-col {
    flex-basis: 40%;
    margin-top: 70px;
}

.container h1 {
    margin-top: 25px;
}

.detail-left-col h1 {
    color: #333;
    font-weight: 600;
}

.detail-left-col p {
    line-height: 1.3;
    font-size: 20px;
}

.obj-date {
    text-align: left;
    margin-top: 20px;
}

.right-col-img {
    border: 1px solid #999;
    border-radius: 12px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.gallery-img {
    border-radius: 15px;
    width: 100%;
    height: 170px;
    object-fit: cover;
    padding: 3px 5px;
}

/* ----------for small screen devices ( up to 1080px) ---------- */
@media (max-width: 1280px) {
    .detail-container {
        margin-top: 70px;
    }
}

/* ----------for small screen devices ( up to 1080px) ---------- */
@media (max-width: 1080px) {
    .detail-left-col {
        flex-basis: 68%;
    }

    .detail-right-col {
        flex-basis: 30%;
        margin-top: 55px;
    }

    .detail-left-col h1 {
        font-size: 25px;
    }

    .detail-left-col p {
        line-height: 1.3;
        font-size: 18px;
    }

    .right-col-img {
        padding: 3px;
        grid-template-columns: repeat(1, 1fr);
    }

}

/* ----------for small screen devices ( up to 700px) ---------- */
@media (max-width: 700px) {
    .detail-left-col {
        flex-basis: 73%;
    }

    .detail-right-col {
        flex-basis: 25%;
    }

    .right-col-img {
        padding: 3px;
        grid-template-columns: repeat(1, 1fr);
    }

    .gallery-img {
        border-radius: 15px;
        height: 100px;
        padding: 3px 5px;
    }
}

/* ----------for small screen devices ( up to 500px) ---------- */
@media (max-width: 500px) {
    .detail-container {
        margin-top: 70px;
        display: block;
    }

    .container .detail-left-col h1 {
        padding-top: 25px;
        font-size: 22px;
    }

    .detail-right-col {
        margin-top: 25px;
    }

    .detail-left-col p {
        line-height: 1.2;
        font-size: 16px;
    }

    .right-col-img {
        padding: 2px;
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery-img {
        border-radius: 15px;
        height: 120px;
        padding: 2px 4px;
    }
}

/* ----- accounts ----- */

.container-info {
    background: #F7F7F7;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 20px;
}

.container-info p {
    font-size: 20px;
    text-align: center;
}

.info {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    margin-left: auto;
    margin-right: auto;
}

.info-item {
    border: 1px solid #999;
    padding: 15px;
    border-radius: 10px;
}

.info-item p {
    font-size: 20px;
    text-align: left;
}

.info-item a {
    text-decoration: none;
}

.cancel {
    border: 1px solid #ff5361;
    padding: 5px;
    margin-top: 5px;
    width: 120px;
    text-align: center;
    border-radius: 8px;
    background: #fff;
    cursor: pointer;
}

.cancel h3 {
    color: #ff5361;
}

.cancel-btn {
    background: #ff5361;
    border: 0;
    outline: none;
    color: #fff;
    padding: 10px;
    width: 270px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 600;
}

/* ----- login / register ----- */
.container-login-register {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
    border: 1px solid #ff5361;
    border-radius: 20px;
    padding: 0 50px 50px;
}

.container-login-register h1 {
    margin-bottom: 20px;
}

.login-register-form div {
    margin-bottom: 20px;
}

.login-register-form label {
    font-size: 20px;
    font-weight: 600;
}

.login-register-form input {
    border: 1px solid #ff5361;
    border-radius: 20px;
    width: 300px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.login-register-form button {
    border: 1px solid #ff5361;
    background: #fff;
    color: #ff5361;
    padding: 10px;
    width: 300px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 600;
}

.login-register-form button:hover {
    background: #ff5361;
    color: #fff;
    transition: 0.5s;
}