<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/airbnb.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/style_navbar.css' %}">
  <link rel="stylesheet" href="{% static 'css/style_locality_list.css' %}">
  <link rel="stylesheet" href="{% static 'css/style_places_list.css' %}">
  <link rel="stylesheet" href="{% static 'css/style_rooms_list.css' %}">
  <link rel="stylesheet" href="{% static 'css/style_room_details.css' %}">
  <link rel="stylesheet" href="{% static 'css/style_footer.css' %}">
  <title>{% block title %} JustTravel {% endblock %}</title>
</head>

<body>

  {% include 'inc/_navbar.html' %}

  <div class="container">
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor%}
    {% endif %}
  </div>

  {% block content %} CONTENT {% endblock %}

  {% include 'inc/_footer.html' %}

  <script src="{% static 'js/functions.js' %}"></script>
  <!-- flatpickr -->
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
  <script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>
  <script>
    // Прибытие-настройки
    const value1 = JSON.parse(document.getElementById('value1').textContent);
    config1 = {
      "locale": "ru",
      dateFormat: "d.m.Y",
      minDate: "today",
      disable: value1,
      onOpen: function (selectedDates, dateStr, instance) {
        endPicker.open();
      },
    }
    // Выезд-настройки
    const value2 = JSON.parse(document.getElementById('value2').textContent);
    config2 = {
      "locale": "ru",
      dateFormat: "d.m.Y",
      minDate: "today",
      disable: value2,
      onOpen: function (selectedDates, dateStr, instance) {
        startPicker.open();
      },
    }
    startPicker = flatpickr("input[type=date_in]", config1);
    endPicker = flatpickr("input[type=date_out]", config2);
  </script>

  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/4f4432713b.js" crossorigin="anonymous"></script>
  <script>
    var navBar = document.getElementById("navBar");
    function togglebtn() {
      navBar.classList.toggle("hidemenu");
    }
  </script>

</body>

</html>