<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/flatpickr.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/flatpickr-theme-airbnb.css' %}">
  <link rel="stylesheet" href="{% static 'css/style_navbar.css' %}">
  <link rel="stylesheet" href="{% static 'css/style_locality_list.css' %}">
  <link rel="stylesheet" href="{% static 'css/style_places_list.css' %}">
  <link rel="stylesheet" href="{% static 'css/style_rooms_list.css' %}">
  <link rel="stylesheet" href="{% static 'css/style_room_details.css' %}">
  <link rel="stylesheet" href="{% static 'css/style_footer.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>{% block title %} JustTravel {% endblock %}</title>
</head>

<body>

  {% include 'inc/_navbar.html' %}

  <div class="container">
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor%}
    {% endif %}
  </div>

  {% block content %} CONTENT {% endblock %}

  {% include 'inc/_footer.html' %}

  <script src="{% static 'js/functions.js' %}"></script>
  <!-- flatpickr -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script> -->
  <script src="{% static 'js/flatpickr.min.js' %}"></script>
  <script src="{% static 'js/flatpickr-l10n-ru.js' %}"></script>
  <script src="{% static 'js/flatpickr-conf.js' %}"></script>

  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/4f4432713b.js" crossorigin="anonymous"></script>

</body>

</html>