<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" href="https://npmcdn.com/flatpickr/dist/themes/airbnb.css">
  <link rel="stylesheet" href="{% static 'lightbox/css/lightbox.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style_navbar.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/style_paginator.css' %}">
  <link rel="stylesheet" href="{% static 'css/style_footer.css' %}">
  <title>{% block title %} JustTravel {% endblock %}</title>
</head>

<body>

  <!-- Навбар -->
  {% block navbar %}
    {% include 'inc/_navbar.html' %}
  {% endblock navbar %}

  <div class="container">

    <div class="user-message">
      {% if messages %}
      {% for message in messages %}
      {{ message }}
      {% endfor%}
      {% endif %}
    </div>

    {% block content %} CONTENT {% endblock %}

  </div>

  <!-- Футер -->
  {% include 'inc/_footer.html' %}

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
  <script src="{% static 'js/scripts.js' %}"></script>
  <!-- flatpickr -->
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
  <script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>
  <script src="{% static 'js/flatpickr-conf.js' %}"></script>
  <!-- lightbox -->
  <script src="{% static 'lightbox/js/lightbox.min.js' %}"></script>
  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/4f4432713b.js" crossorigin="anonymous"></script>

</body>

</html>