<div class="header">
  <h1>Find Your Next Stay</h1>
  <div class="search-bar">
    <form>
      <div class="location-input">
        <label>Location</label>
        <input type="text" placeholder="Where are you going?">
      </div>
      <div>
        <label>Check in</label>
        <input type="text" placeholder="Add Date">
      </div>
      <div>
        <label>Check out</label>
        <input type="text" placeholder="Add Date">
      </div>
      <div>
        <label>Guest</label>
        <input type="text" placeholder="Add Guest">
      </div>
      <button type="submit"><img src="images/search.png"></button>
    </form>
  </div>
</div>