{% load static %}
<nav id="navBar" class="navbar-white">
  <a href="{% url 'blogs:home' %}" class="logo">
    <!-- <img src="images/logo.png" class="logo"> -->
    JustTravel
  </a>
  <ul class="nav-links">
    <li><a href="{% url 'blogs:localities' %}">Населенные пункты</a></li>
    <li><a href="{% url 'blogs:places' %}">Интересные места</a></li>
    <li><a href="{% url 'rooms:rooms' %}">Жилье</a></li>
    <!-- <li><a href="{% url 'accounts:account' %}">Личный кабинет</a></li> -->
  </ul>
  <ul class='nav-btn'>
    {% if request.user.is_authenticated %}
    <li>
      <a href="{% url 'accounts:account' %}">
        <div class="account-btn">
          <div><img src="{% static 'images/menu.png' %}"></div>
          <div><img src="{% static 'images/user.png' %}"></div>
        </div>
      </a>
    </li>
    <!-- <a href="{% url 'rooms:create_room' %}">Сдайте жилье</a> -->
    <!-- <li><a href="{% url 'rooms:create_room' %}" class="create_room-btn">Сдайте жилье</a></li> -->
    <li><a href="{% url 'accounts:logout' %}" class="logout-btn">Выход</a></li>
    {% else %}
    <li><a href="{% url 'accounts:login' %}" class="login-btn">Вход</a></li>
    <li><a href="{% url 'accounts:register' %}" class="register-btn">Регистрация</a></li>
    {% endif %}

    <i class="fa-solid fa-bars" onclick="togglebtn()"></i>
  </ul>
</nav>